html, body {margin: 0; padding:0;}
body {
	font-family:Tahoma,Verdana,serif;
	color:#e6d2d2; 
	font-size:11px;
	text-align:center;
    background-image:url(./images/jpg/th.jpg);
 /* background-image:url(https://www.bing.com/ImageResolution.aspx?w=1240&h=367&hash=);*/ 
  
   background-image:url(https://www.bing.com/th?id=OHR.Montreux_ROW5883115917_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
      
  background-repeat: no-repeat;
    opacity: 1;
        background-size: cover;
}

#header {
	background-image:url(../../images/main_white_alfa.png);
	background-repeat:repeat;

}
.header {    border-radius: 1em;-moz-border-radius: 1em;-webkit-border-radius: 1em; overflow:hidden; margin-top:10px;margin-bottom:8px; -moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000; box-shadow: 0px 0px 10px #000}


 a:link    { text-decoration: underline;  color: #dadaf3; font-size: 1em;}
a:visited { text-decoration: underline;  color: #72c0ef96; }
a:hover   { text-decoration: underline;  color: white; }
a:active  { text-decoration: underline; }

 div.module_menu
{
/*position: absolute; */
margin-top: -32px; /* position */
/*right: 340px; position*/
/*z-index: 7;*/
width:0px;
height: 32px;
}

#module_pasek {
margin-top:-32px;
margin-left:-565px;}




#lange {
font-family:Tahoma,Verdana,serif;
	color:red;
	font-size:11px;
	text-align:center;
width:900px;}

#sitecontainer {
position: relative;
/*float:left;*/
width:1243px;
	   }

#leftcontent {
	   }
   
.leftcontent {    border-radius: 1em;-moz-border-radius: 1em;-webkit-border-radius: 1em; overflow:hidden; margin-top:0px;margin-bottom:8px; -moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000; box-shadow: 0px 0px 10px #000}
  
#centercontent {
	width:760px; 
  background-color:#6b3131f2;  }
  
.centercontent  {    border-radius: 1em;-moz-border-radius: 1em;-webkit-border-radius: 1em; overflow:hidden; margin-top:0px;margin-bottom:8px; margin-left:7px; padding-left:0 px; padding-right:0px; padding-top:8px; -moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000; box-shadow: 0px 0px 10px #000}
  
#rightcontent {
	width:200px; 
  background-color:#6b3131f2;  }

.rightcontent {    border-radius: 1em;-moz-border-radius: 1em;-webkit-border-radius: 1em; overflow:hidden; margin-top:0px;margin-bottom:8px; margin-left:7px;-moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000; box-shadow: 0px 0px 10px #000}

#left {
	width:260px;
	float:left;
	background:ur(./images/lefttop2.gif) repeat-y 287px 0;
	padding-top:0px;
	padding-bottom:0px;
  text-align:left;
}
#left h1 {
	color:#3366CC;
	font-size:11px;
	text-transform:uppercase;
	height:17px;
	padding-top:4px;
	padding-left:20px;
	font-weight:normal;
	background:url(./images/lefttop.gif) repeat-y;
	position:absolute;
	width:305px;
	top:0px;
	letter-spacing:1px;
}
#left div {

	background:#6b3131f2;
	padding:26px 20px 0px 26px;
}

#left div h4 {
	color:#2b2020;
	font-size:11px;
}
#left div a {
	color:#a9c0ef;
     text-decoration:blink;
}
#left div a:hover {
	text-decoration:underline;
	color:#80C1FF;
}
#left div a.on {
	color:#646464;
}
#left div p {
	font-family:Tahoma,Verdana,serif;
	font-size:11px;}
  
   #left div.cos { width: 140px;}
   
   h1,h2,h3,h4,h5,p,form,input,fieldset {
	margin:0;
	padding:0;}
  
  #center {
     float: left;
/*width: 630px;*/
margin-top:3px;
padding-left: 0px;
padding-right: 0px;
    }
    
.table_style {border-bottom-color : #b9b9b9; border-bottom-style : dotted; border-bottom-width : 1px; 
               border-top-color : #b9b9b9; border-top-style : dotted; border-top-width : 1px; border-left-style : dotted; border-left-width : 1px; border-left-color : #b9b9b9; border-right-style : dotted; border-right-width : 1px; border-right-color : #b9b9b9;} 
               
 #center h1.kat_name {
	margin-bottom:10px;
	color:#3366CC;
	font-size:11px;
	font-family:Arial;
  margin-left:2px;
	/*font-weight:normal;*/
}
 
 #banner_flash {
	 width: 247px;
   height: 160px;
   background:#F3F3F3;
  margin-bottom: 0px;
}

 #menu_footer {
	width:293px;
	height:113px;
	padding:0 0px;
	background:#1700009e;
	position:absolute;
	bottom:13px;
	left:0px;
}
.menu_footer {border-radius: 1em;-moz-border-radius: 1em;-webkit-border-radius: 1em; overflow:hidden; margin-top:10px;margin-bottom:-4px; -moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000; box-shadow: 0px 0px 10px #000}
#menu_footer div {
	padding:17px 0;
	border-bottom:2px solid #80C1FF;
}
#menu_footer a {
	background:url(./images/gif/s.gif) no-repeat right;
	padding-right:10px;
	margin-right:9px;
}
#menu_footer a:hover
{
	text-decoration:none;
	color:#80C1FF;
}
#menu_footer a.last {
	background:none;
	padding-right:0px;
	margin-right:0px;
}
#menu_footer img {
	margin-top:20px;
}
#menu_footer p a {
	background:none;
}

 #content {
	width:980px;
	float:left;
	padding-top:45px;
	position:relative;
	font-family:Tahoma,serif;
	font-size:11px;
}

/*gareria*/
    #galleryCnt {width:190px;
 margin-bottom:1px;
 border-bottom:1px solid #e4e3e2;
 margin-left:-3px;
 padding-bottom:10px;
 padding-top:5px
 } 
 
    #galleryCnt div {
	clear:both;
	overflow:hidden;
  position:relative;
  width:190px; 
  text-indent:0px;
  margin-left:0px
}

      div#dodatki {
	float:left;
	width:180px;
	padding-left:10px;
	/*border-left:3px solid #80C1FF;*/
	margin-left:-2px;
  padding-bottom: 85px;
}

       #obiect {position: left;}
* html #galleryCnt div.galleryBody { height:1% }
.galleryRow { 
	list-style-type:none; 
	overflow:hidden;
	float:left;
	display:inline;
	padding:0;
  height:155px;
	margin: 0 0 0 0px;
  width:190px;
}
.galleryRow li {float:left;text-align:center}
.galleryRow li a {
	text-decoration:none;
	font:normal 11px Georgia, "Times New Roman", Times, serif;
	color:#025796;
	line-height:11px	
}
.galleryRow li a:hover { color:#CC0000 }
.galleryRow li img { margin-bottom:0px; width:195px; }
.galleryRow li p { padding:0; margin:0 }
.galleryRow li p.desc { height:30px }
#galleryCnt .arrow-left, #galleryCnt .arrow-right{
	width:22px;
	height:22px;
	display:block;
	text-indent:-5000px;
	outline:0;
	position:absolute
}
#galleryCnt  a.arrow-left { background-image: url(images/gif/kal_prev.gif); 
background-color: #bb1b1bf0;
left: 0px;
z-index: 3;
display: block;
position: absolute;
width: 10%;
height: 84%;
opacity: 0.35;
background-position: 0px 50px;
background-repeat: no-repeat no-repeat;
margin-top:0px
 }	
#galleryCnt  a.arrow-right { background: #bb1b1bf0 url(images/gif/kal_next.gif) no-repeat 100% 46%;
z-index: 3;
display: block;
position: absolute;
right: 0px;
width: 10%;
height: 84%;
opacity: 0.35;
background-position: 0% 50px;
background-repeat: no-repeat no-repeat;
margin-top:0px
 }	


* html .galleryRow { margin:0 0 0 29px }
.galleryRow li {
	width:191px;
	padding:0px 0px;
}

.galleryRow li.oneGallery {
	width:200px;
}
* html .galleryRow li { padding:5px 3px }
#galleryCnt a.arrow-left, #galleryCnt a.arrow-right { top:0px }

     /* Zewina default css                                   	             */
/* Created for Zewina Hover Image Menu                  	             */
/* Note:                                                   	             */
/* For best display, copy the entire CSS code onto the main style sheet	     */
/* For more than 2 level, please define your CSS style below.		     */  

/*Genearals *//* Do not alter if you don't know what you're doing 			*/

div#cassrina, div.cassrina { /*margin:0; padding:0; width: 100%; height:100%; top:0; left:0; z-index: 0;*/ position:absolute; height:32px;}
div#cassrina *, div.cassrina * { list-style:none; margin:0; padding:0;}
div#cassrina a, div.cassrina a { list-style:none; margin:0; padding:0; }
div#cassrina a img, div.cassrina a img { list-style:none; margin:0; padding:0;}

/* Main Level */
ul.cassrinamenu_lvl0 {
	float:left;
}

ul.cassrinamenu_lvl0 li.climenu_lvl0 {
	float:left;
	
}

ul.cassrinamenu_lvl0 li.climenu_lvl0 a {

}

ul.cassrinamenu_lvl0 li.climenu_lvl0 a img {

}

/* 1st Level */
ul.cassrinamenu_lvl1 {
    float:none;
	display: none;
}

ul.cassrinamenu_lvl1 li.climenu_lvl1 {

}

ul.cassrinamenu_lvl1 li.climenu_lvl1 a {

}

ul.cassrinamenu_lvl1 li.climenu_lvl1 a img {

}

/* 2nd Level */
ul.cassrinamenu_lvl2 {
    float:none;
	display: none;
    overflow: visible;
}

ul.cassrinamenu_lvl2 li.climenu_lvl2 {

}

ul.cassrinamenu_lvl2 li.climenu_lvl2 a {

}

ul.cassrinamenu_lvl2 li.climenu_lvl2 a img {

}

/* 3rd Level */
/* Insert your own style following above codes */
 /*Zewina end*/
 
        /*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 100x;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(http://www.regulus.com.pl/sites/default/files/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

  /*zakladka*/

 * { margin: 0; padding: 0; }

html { position: relative; }
div#tresc { width: 800px; margin: 0 auto; text-align: justify; }
div#zakladka { display: none; position: fixed; width: 100%;  }
div#zakladka div.zawartosc { background: #6b3131f2; padding: 0px 0px; }
div#zakladka div.uchwyt { cursor: pointer; color: white; text-align: center; font-size: 12px; width: 800px; height: 20px; background: url('zakladka.png'); position: absolute; top: -20px; left: 50%; margin-left: -400px; }